@import '../global.scss';

.App-header {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 3;
    padding-top: 40px;

    .menu-tablet-mobile {
        &.active {
            transform: translateY(0);
        }
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        height: 45%;
        width: 100%;
        z-index: 5;
        transition: all 0.4s ease;
        display:flex;
        justify-content: center;
        transform: translateY(-100%);
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: unset;
            margin: unset;
            li {
                list-style: none;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1px;
                color: #585858;
                cursor: pointer;
            }
        }
    }

    .menu-wrapper {
        .toggle-menu {

            @include tablet {
                display: block;
    
            }
            position: absolute;
            width: 30px;
            height: 25px;
            z-index: 1000;
            top: 20px;
            right: 20px;
            cursor: pointer;
            display: none;
            &.active {
                .toggle-btn1 {
                    transform: translateY(10px) rotate(45deg);
                    background-color: #585858;
                }
    
                .toggle-btn2 {
                    display: none;
                }
                .toggle-btn3 {
                    transform: translateY(-5px) rotate(-45deg);
                    background-color: #585858;
                }
            }
            .toggle-btn1 {
                width: 30px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.4s ease;
                
    
                
            }
            .toggle-btn2 {
                background-color: #fff;
                height: 2px;
                width: 30px;
                position: absolute;
                left: 0;
                top: 8px;
                transition: all 0.4s ease;
            }
    
            .toggle-btn3{
                background-color: #fff;
                height: 2px;
                width: 30px;
                position: absolute;
                left: 0;
                top: 16px;
                transition: all 0.4s ease;
            }
        }
        .menu-content {

            @include tablet{
                display: none;
            }
            display: flex;
            .logo {
                flex: 1;
            }
            ul {
                transform: translateY(8px);
                display: flex;
                gap: 25px;

                li {
                    list-style: none;
                    color: white;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    cursor: pointer;
                }
            }
        }
        
        width: 1000px;
        margin: auto;
        
        
    }

    .header-content {
        margin-top: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 55px;
            line-height: 28px;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 300;
        }

        p {
            font-size: 15px;
            margin-top: 10px;
            color: #fff;
            font-weight: 300;
            transform: translateY(-12px);
        }

        .button {
            width: 167px;
            font-size: 14px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 20px;
            box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.16);
            background-color: #42C3D6;
            margin-top: 18px;
            &:hover {
                cursor: pointer;
                background-color: #3c3c3c;
            }
        }
    }
    
    .background-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../image/photo-bg.jpg") no-repeat center;
        background-size: cover;
        z-index: -2;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }
    
}

