.product-component {
    padding-top: 80px;
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        color: #353535;
        margin: unset;
        user-select: none;
    }

    .tab-bar {
        max-width: 960px;
        margin: 10px auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .slider {
        max-width: 1000px;
        margin: 0 auto;

        .product-slider {
            position: relative;
            width: 230px;
            height: 390px;
            padding: 20px;
            cursor: pointer;
            &:hover {

                .image {
                    opacity: 0.4;

                }

                .search-add-product {
                    
                    .search-icon {
                        font-size: 45px;
                       
                    }
                    .add-icon {
                        font-size: 40px;
                    }
                }
            }
            .image {
                img {
                    width: 90%;
                    border-radius: 5px;
                }
            }

            .description {
                display: flex;
                margin-top: 15px;
                .prices {
                    border-right: 1px solid #ccc;
                    width: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-right: 10px;
                    .price {
                        font-size: 12px;
                        font-weight: 700;
                    } 

                    .old-price {
                        text-decoration: line-through;
                    } 
                    .new-price  {
                        color: red;
                    }
                }

                .product-name {
                    .name {
                        color: #353535;
                        font-size: 12px;
                        margin-bottom:5px;
                    }
                    .band {
                        color: #353535;
                        font-size: 12px;

                    }
                }   
            }

            .search-add-product {
                width: 100%;
                position: absolute;
                top: 150px;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(-15px);
                .search-icon {
                    font-size: 0px;
                    margin-right: 12px;
                    transition: all 0.2s ease;
                }
                .add-icon {
                    font-size: 0px;
                    transition: all 0.2s ease;
                }
            }
        }
    }

    .bands {
        max-width: 1000px;
        margin: 40px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .band {
            transform-style: preserve-3d;
            cursor: pointer;
            height: 20px;
            width: 180px;
        }
    }
}