@import "../global.scss";

@keyframes slideInTextx {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes bounceAnimation {
    0%,34%,60%,80%, 100% {
      transform: translateY(0);
    }
    17% {
        transform: translateY(-20px);
    }
    46% {
        transform: translateY(-10px);
    }
    70% {
      transform: translateY(-5px);
    }
    87% {
    transform: translateY(-3px);
    }
  }

.product-component {

    
    position: relative;
    padding-top: 80px;
    background-color: white;

    .choses-product {

        &.active {
            transform: translateX(0);
            .contain {
                ul {
                    li {
                        transition: all 1s ease-in;
                        &:nth-child(1) {
                        animation: slideInTextx 0.4s ease-in;
                        animation-delay: 0.3s;
                        animation-fill-mode: forwards;
                        }
                    
                        &:nth-child(2) {
                        animation: slideInTextx 0.3s ease-in;
                        animation-delay: 0.4s;
                        animation-fill-mode: forwards;
                        }
                    
                        &:nth-child(3) {
                        animation: slideInTextx 0.4s ease-in;
                        animation-delay: 0.5s;
                        animation-fill-mode: forwards;
                        }
                    
                        &:nth-child(4) {
                        animation: slideInTextx 0.5s ease-in;
                        animation-delay: 0.6s;
                        animation-fill-mode: forwards;
                        }
                    
                        &:nth-child(5) {
                        animation: slideInTextx 0.6s ease-in;
                        animation-delay: 0.6s;
                        animation-fill-mode: forwards;
                        }
                    
                        &:nth-child(6) {
                        animation: slideInTextx 0.7s ease-in;
                        animation-delay: 0.6s;
                        animation-fill-mode: forwards;
                    }
                    }
                }
            }
        }
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f1f1f1;
        width: 100vw;
        height: 100vh;
        z-index: 10000;
        transform: translateX(-100%);
        transition: all 1s ease-in-out;

        .contain {
            width: 60%;
            height: 100%;
            margin: auto;
            padding-top: 120px;
            .icon-close {
                text-align: right;
                width: 100%;
                cursor: pointer;
                .icon {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            ul {
                margin-top: 30px;
                text-align: center;
                padding: 0;
                li {
                    list-style: none;
                    text-align: center;
                    margin: 20px 0;
                    line-height: 45px;
                    font-size: 25px;
                    font-weight: 100;
                    color: #353535;
                    cursor: pointer;
                    z-index: 1;
                    font-family: 'Fira Sans',sans-serif;

                    &:hover {
                        color: #42C3D6;
                        transition: unset;
                    }
                }
            }
        }
    }

    .cart-product {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f1f1f1;
        width: 100vw;
        height: 100vh;
        z-index: 10000;
        transform: translateX(100%);
        transition: all 1s ease-in-out;
        padding-top: 120px;
        &.active {
            transform: translateX(0);
        }

        .closes {
            max-width: 1000px;
            margin: 0 auto;
            padding-bottom: 50px ;
            text-align: right;
            .icon {
                font-size: 30px;
                cursor: pointer;
            }

        }

        .contain {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .total-list-product {
                display: flex;
                flex-direction: column;
                .list-product {
                    width: 500px;
                    height: 250px;
                    overflow-y: auto;

                    .product {
                        display: flex;
                        margin: 5px 0;
                        .product-name {
                            flex: 1;
                        }
                        .product-price {
                            margin-right: 5px;
                        }
                        .icon {
                            font-size: 12px;
                            cursor: pointer;
                        }
                    }
                }

                .total {
                    padding-top: 15px;
                    display: flex;
                    border-top: 1px solid #ccc;
                    justify-content: space-between;
                    padding-right: 20px;
                }
            }

            .personal-imformation {
                display: flex;
                flex-direction: column;
                width: 40%;
                input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #ccc;
                    background-color: #fff;
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    color: rgba(0,0,0,0.75);
                    font-size: 18px;
                    margin: 0 0 2.6rem 0;
                    padding: 0.5rem;
                    box-sizing: border-box;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                    
                }
                .btn {
                    width: 100%;
                    height: 40px;
                    background-color: #42C3D6;
                    text-align: center;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                }
            }
        }
    }

    .detail-product {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f1f1f1;
        width: 100vw;
        height: 100vh;
        z-index: 10000;
        transform: translateX(-100%);
        transition: all 1s ease-in-out;

        .closes {
            position: absolute;
            top: 5%;
            right: 5%;

            .icon {
                font-size: 25px;
                cursor: pointer;
            }
        }

        &.active {
            transform: translateX(0);
        }

        .container {
            max-width: 1000px;
            height: 70vh;
            margin: 80px auto;
            display: flex;
            justify-content: space-between;

            @include mobile {
                width: 100vw;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .image {
                width: 47%;
                text-align: right;

                @include mobile {
                    width: 80%;
                    text-align: center;
                }
                img {
                    height: 100%;

                    
                }
            }   
            .detail {
                width: 47%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transform: translateY(-35px);
                @include mobile {
                    width: 75%;
                    transform: translateY(0);
                    align-items: center;
                }

                .price {
                    display: flex;
                    align-items: center;
                    @include mobile {

                    }
                    .new-price {
                        font-family: 'Fira Sans',sans-serif;
                        color:#d93c3c;
                        font-weight: 700;
                        font-size: 22px;
                        margin: 15px 0;

                    }
                    .old-price {
                        margin-left: 10px;
                        color: #424242;
                        font-size: 15px;
                        text-decoration: line-through;
                        margin: 15px 5px;

                    }

                }
                .product-name {
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 22px;
                    color: #424242;
                    line-height: 26px;
                    max-width: 80%;
                    margin-bottom: 28px;
                }

                .description {
                    font-size: 15px;
                    color: #545454;
                    line-height: 21px;
                    margin-bottom: 37px;

                    @include mobile {
                        text-align: center;
                    }
                }

                .button {
                    color: #fff;
                    width: 190px;
                    height: 40px;
                    font-size: 18px;
                    line-height: 39px;
                    border-radius: 38px;
                    background-color: #42C3D6;
                    text-align: center;
                    cursor: pointer;
                    &:hover {
                        background-color: #353535;
                    }
                }
                
            }

        }
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        color: #353535;
        margin: unset;
        user-select: none;
    }

    .tab-bar {
        max-width: 960px;
        margin: 10px auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .cart {
            display: inline-block;
            position: relative;
            .current-product {
                position: absolute;
                top: -2px;
                right: -8px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color:#42C3D6;
                color: white; 
                display: flex;
                font-size: 12px;
                justify-content: center;
                align-items: center;
                &.bounce {
                    animation: bounceAnimation 1s;
                    animation-fill-mode: both;
                }
            }
        }
        
    }

    .slider {
        max-width: 1000px;
        margin: 0 auto;

        &.pc {
            @include tablet {
            
                display: none;
   
           }
           @include mobile {
            
            display: none;

            }
        }

        &.tablet {
            display: none;
            @include tablet {
            
                display: unset;
           }

           @include mobile {
            
            display: none;
            }

        }
        &.mobile {
            display: none;
            @include tablet {
            
                display: none;
           }
           @include mobile {
            
            display: unset;
            }
        }

        .product-slider {
            position: relative;
            width: 230px;
            height: 390px;
            padding: 20px;
            cursor: pointer;
            @include mobile {
                height: 455px;
                width: 90% !important; 
            }
            &:hover {

                .image {
                    opacity: 0.4;

                }

                .search-add-product {
                    
                    .search-icon {
                        font-size: 45px;
                        z-index: 100;
                    }
                    .add-icon {
                        font-size: 40px;
                        z-index: 100;
                    }
                }
            }
            .image {
                img {
                    width: 90%;
                    border-radius: 5px;
                }
            }

            .description {
                display: flex;
                margin-top: 15px;
                .prices {
                    border-right: 1px solid #ccc;
                    width: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-right: 10px;
                    .price {
                        font-size: 12px;
                        font-weight: 700;
                    } 

                    .old-price {
                        text-decoration: line-through;
                    } 
                    .new-price  {
                        color: red;
                    }
                }

                .product-name {
                    .name {
                        color: #353535;
                        font-size: 12px;
                        margin-bottom:5px;
                    }
                    .band {
                        color: #353535;
                        font-size: 12px;

                    }
                }   
            }

            .search-add-product {
                width: 100%;
                position: absolute;
                top: 150px;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(-15px);
                .search-icon {
                    font-size: 0px;
                    margin-right: 12px;
                    transition: all 0.2s ease;
                }
                .add-icon {
                    font-size: 0px;
                    transition: all 0.2s ease;
                }
            }
        }
    }

    .bands {
        max-width: 1000px;
        margin: 40px auto 0;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            padding: 0 20px;
            padding-bottom: 50px;
        }
        @include mobile {
            padding: 0 20px;
            padding-bottom: 50px;
        }
        .band {
            transform-style: preserve-3d;
            cursor: pointer;
            height: 20px;
            width: 180px;
            @include tablet {
                height: 18px;
                 width: 160px;
                
            }
            @include mobile {
                height: 13px;
                     width: 100px;
                &.band4 {
                    
                    display: none;
                }
            }
        }
    }
}